<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<injectionRegisterConfiguration>
    <wcfInterfaces>
      <assembly name="Realgoal.MOM.IAppService.Crystal" />
    </wcfInterfaces>
  </injectionRegisterConfiguration><system.serviceModel>
    <client>
      <!--配置管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/ConfigurationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IConfigurationContract" name="Realgoal.MOM.IAppService.Interfaces.IConfigurationContract" behaviorConfiguration="DefaultBehavior" />
      <!--基础定义服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/FoundationContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IFoundationContract" name="Realgoal.MOM.IAppService.Interfaces.IFoundationContract" behaviorConfiguration="DefaultBehavior" />
      <!--编号生成服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/NumberContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.INumberContract" name="Realgoal.MOM.IAppService.Interfaces.INumberContract" behaviorConfiguration="DefaultBehavior" />
      <!--资源定义服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/ResourceContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IResourceContract" name="Realgoal.MOM.IAppService.Interfaces.IResourceContract" behaviorConfiguration="DefaultBehavior" />
      <!--运行定义服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/OperationsContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IOperationsContract" name="Realgoal.MOM.IAppService.Interfaces.IOperationsContract" behaviorConfiguration="DefaultBehavior" />
      <!--工作定义服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/WorksContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IWorksContract" name="Realgoal.MOM.IAppService.Interfaces.IWorksContract" behaviorConfiguration="DefaultBehavior" />
      <!--物料批量管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/MaterialLotContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IMaterialLotContract" name="Realgoal.MOM.IAppService.Interfaces.IMaterialLotContract" behaviorConfiguration="DefaultBehavior" />
      <!--调度服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/ScheduleContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IScheduleContract" name="Realgoal.MOM.IAppService.Interfaces.IScheduleContract" behaviorConfiguration="DefaultBehavior" />
      <!--详细调度服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/DetailedScheduleContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IDetailedScheduleContract" name="Realgoal.MOM.IAppService.Interfaces.IDetailedScheduleContract" behaviorConfiguration="DefaultBehavior" />
      <!--分派服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/DispatchContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IDispatchContract" name="Realgoal.MOM.IAppService.Interfaces.IDispatchContract" behaviorConfiguration="DefaultBehavior" />
      <!--执行管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/ExecutionManagementContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IExecutionManagementContract" name="Realgoal.MOM.IAppService.Interfaces.IExecutionManagementContract" behaviorConfiguration="DefaultBehavior" />
      <!--跟踪服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/TrackingContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.ITrackingContract" name="Realgoal.MOM.IAppService.Interfaces.ITrackingContract" behaviorConfiguration="DefaultBehavior" />
      <!--绩效服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/PerformanceContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IPerformanceContract" name="Realgoal.MOM.IAppService.Interfaces.IPerformanceContract" behaviorConfiguration="DefaultBehavior" />
      <!--历史服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/HistoryContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IHistoryContract" name="Realgoal.MOM.IAppService.Interfaces.IHistoryContract" behaviorConfiguration="DefaultBehavior" />
      <!--报表服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/ReportContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.Interfaces.IReportContract" name="Realgoal.MOM.IAppService.Interfaces.IReportContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 基础扩展服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/FoundationExtensionContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IFoundationExtensionContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IFoundationExtensionContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 状态扩展服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/StateExtensionContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IStateExtensionContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IStateExtensionContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 处方管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/RecipeContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IRecipeContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IRecipeContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 计划管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/PlanContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IPlanContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IPlanContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 作业管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/BatchContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IBatchContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IBatchContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 作业记录服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/BatchRecordContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IBatchRecordContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IBatchRecordContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 维护记录服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/MaintainRecordContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IMaintainRecordContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IMaintainRecordContract" behaviorConfiguration="DefaultBehavior" />
      <!--批套件 - 报表服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBatch/ReportContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IReportContract" name="Realgoal.MOM.IAppService.SuiteOfBatch.Interfaces.IReportContract" behaviorConfiguration="DefaultBehavior" />
      <!--业务套件 - 定义管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBusiness/DefinitionContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBusiness.Interfaces.IDefinitionContract" name="Realgoal.MOM.IAppService.SuiteOfBusiness.Interfaces.IDefinitionContract" behaviorConfiguration="DefaultBehavior" />
      <!--业务套件 - 单据管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfBusiness/ArrangementContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfBusiness.Interfaces.IArrangementContract" name="Realgoal.MOM.IAppService.SuiteOfBusiness.Interfaces.IArrangementContract" behaviorConfiguration="DefaultBehavior" />
      <!--质量套件 - 基础扩展服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfQuality/FoundationExtensionContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IFoundationExtensionContract" name="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IFoundationExtensionContract" behaviorConfiguration="DefaultBehavior" />
      <!--质量套件 - 质量定义服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfQuality/DefinitionContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IDefinitionContract" name="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IDefinitionContract" behaviorConfiguration="DefaultBehavior" />
      <!--质量套件 - 质量计划服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfQuality/PlanContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IPlanContract" name="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IPlanContract" behaviorConfiguration="DefaultBehavior" />
      <!--质量套件 - 质量执行服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfQuality/ExecutionContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IExecutionContract" name="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IExecutionContract" behaviorConfiguration="DefaultBehavior" />
      <!--质量套件 - 质量记录服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfQuality/RecordContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IRecordContract" name="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IRecordContract" behaviorConfiguration="DefaultBehavior" />
      <!--质量套件 - 质量报表服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfQuality/ReportContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IReportContract" name="Realgoal.MOM.IAppService.SuiteOfQuality.Interfaces.IReportContract" behaviorConfiguration="DefaultBehavior" />
      <!--库存套件 - 库存扩展服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfInventory/MaterialExtensionContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IMaterialExtensionContract" name="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IMaterialExtensionContract" behaviorConfiguration="DefaultBehavior" />
      <!--库存套件 - 库存业务记录服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfInventory/InventoryRecordContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IInventoryRecordContract" name="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IInventoryRecordContract" behaviorConfiguration="DefaultBehavior" />
      <!--库存套件 - 库存管理服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfInventory/StockContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IStockContract" name="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IStockContract" behaviorConfiguration="DefaultBehavior" />
      <!--库存套件 - 报表服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfInventory/ReportContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IReportContract" name="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IReportContract" behaviorConfiguration="DefaultBehavior" />
      <!--库存套件 - 发货服务契约配置-->
      <endpoint address="net.tcp://localhost:20210/Hosts/SuiteOfInventory/ShipmenteContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IShipmenteContract" name="Realgoal.MOM.IAppService.SuiteOfInventory.Interfaces.IShipmenteContract" behaviorConfiguration="DefaultBehavior" />
    </client>
  </system.serviceModel></configuration>